h1 { color: gray; }
body {
    background-color: lightGray;
}
p {
  color: darkBlue;
  font-family: 'Playfair Display', serif; 
    max-width: 500px;
}
.about {
  font-family: 'Play', sans-serif;
  text-align: left;
  
}
.mainStuff {
  max-width: 450px;
}